# SSL certificates (development)
*.pem
*.crt
*.key

# Python
__pycache__/
*.py[cod]
*.sqlite3
__pycache__

# Virtual environment
.venv/
env/
.env
venv/
.venv311/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDE / OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
*.iml
